<!DOCTYPE html>
<html>
  <head>
    <title>Saud Maruli Sihombing - Part Design, Part Developer</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
    <header id="main_navigation" class="clearfix">
        <%= link_to "Saud maruli Sihombing", root_path, class: "name"%>
        <nav>
            <%= link_to "Articles", posts_path%>
            <%= link_to "Projects", posts_path%>
            <%= link_to "Contact", posts_path%>
        </nav>
    </header> 

    <%= yield %>

  <footer id="main_footer">
      <p class="copyright">&copy;2019 Saud Maruli Sihombing</p>
      <nav>
        <a href="http://facebook.com/sauthrully" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="http://twitter.com/sauthrully" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="http://instagram.com/s_a_u_t_h" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="http://github.com/uthrul" target="_blank"><i class="fa fa-github"></i></a>
      </nav>
	</footer>
  </body>
</html>
